//变量
@import "modules/_variables";
//代码片段
@import "modules/_mixin";

/*===========css重置样式===========*/
@import "modules/_css_reset";

/*===========button===========*/
@import "modules/_buttons";

/*===========通用样式===========*/
//布局
.clear {
  //clear: both;
  zoom:1;
  &:after{
    display: block;
    content: '';
    zoom: 1;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}
.cb{
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
//盒模型
//margin
@each $size in $boxMarginPadding {
  @include box-margin-padding('margin',$size);
}
//padding
@for $i from 1 through length($boxMarginPadding) {
  @include box-margin-padding('padding',#{nth($boxMarginPadding,$i)});
}
//文字排版
.tc{
  text-align: center;
}
.tl{
  text-align: left;
}
.tr{
  text-align: right;
}

//属性变量：如果变量作为属性或在某些特殊情况下等则必须要以#{$variables}形式使用。
body{
  //font:#{$baseFontSize}/#{$baseLineHeight} #{$baseFontFamily};
  font-family:$baseFontFamily;
  line-height: $baseLineHeight;
}
@include body-size('html');

/*===========整体布局===========*/
@include container-width('.header nav,.container');
.container{
  padding-top: 60px;
  padding-bottom: 20px;
}
//左右布局
.container01{
  padding-top: 60px;
  padding-bottom: 20px;
  min-height: 510px;
  @extend .clear;
}
.c-left{
  float: left;
  width: 20%;
}
.c-right{
  margin-left: 22.5%;
}
/*===========导航菜单===========*/
.header{
  height: 40px;
  background-color: $Cblack;
  position: fixed;
  top:0;
  right:0;
  left: 0;
  z-index: 9;
  line-height: 40px;
  nav{
    overflow: hidden;
    width: 80%;
  }
}
.navigation{
  //float: left;
  //position: relative;
  //left: 50%;
  > li{
    //position: relative;
    //left:-50%;
    float: left;
    padding: 0 15px;
    margin:0 15px;
  }
  a{
    color: $Cwhite;
  }
  .active{
    background-color: $Corange;
    @include skew(30deg);
    a{
      display:inline-block;
      @include skew(-30deg);
    }
  }
}
//home
.home{
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(#{$imgPath}/icon.png) 0 0 no-repeat;
  vertical-align: middle;
}
/*===========页脚===========*/
.footer{
  background-color: $Cblack;
  color: $Cwhite;
  text-align: center;
  padding: 20px;
}
/*===========代码高亮插件===========*/
.syntaxhighlighter{
  max-height: 350px;
}

/*===========左侧菜单===========*/
.side-menu{
  position: fixed;
  top:40px;
  bottom:0;
  left: 0;
  z-index: 1;
  width: 20%;
  overflow: auto;
  margin-bottom: 0;
  background-color: rgb(245,245,245);
}
.side-menu-list{
  padding: 15px 10px;
  //line-height: 200%;
  a{
    display: block;
    padding: 5px 10px;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .active a
  ,a:hover{
    background-color: #0088cc;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
  & > li > a{
    font-size: 16px;
  }
  li i{
    margin-right: 5px;
  }
  .icon-blank{
    padding-left: 14px;
  }
  /*子菜单*/
  .side-menu-child{
    margin-left: 19px;
  }
}