//变量
@import "modules/_variables";
//代码片段
@import "modules/_mixin";

/*===========css重置样式===========*/
@import "modules/_css_reset";

/*===========button===========*/
@import "modules/_buttons";

/*===========通用样式===========*/
//布局
.clear {
  clear: both;
}
.clear:after{
  display: block;
  content: '';
  zoom: 1;
  height: 0;
  visibility: hidden;
  clear: both;
}
.cb{
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
//盒模型
//margin
@each $size in $boxMarginPadding {
  @include box-margin-padding('margin',$size);
}
//padding
@for $i from 1 through length($boxMarginPadding) {
  @include box-margin-padding('padding',#{nth($boxMarginPadding,$i)});
}
//文字排版
.tc{
  text-align: center;
}
.tl{
  text-align: left;
}
.tr{
  text-align: right;
}

//属性变量：如果变量作为属性或在某些特殊情况下等则必须要以#{$variables}形式使用。
body{
  //font:#{$baseFontSize}/#{$baseLineHeight} #{$baseFontFamily};
  font-family:$baseFontFamily;
  line-height: $baseLineHeight;
}
@include body-size('html');

/*===========整体布局===========*/
@include container-width('.header nav,.footer,.container');
.container{
  padding-top: 40px;
}

/*===========导航菜单===========*/
.header{
  height: 40px;
  background-color: $Cblack;
  position: fixed;
  top:0;
  right:0;
  left: 0;
  line-height: 40px;
  nav{
    overflow: hidden;
    width: 80%;
  }
}
.nav{
  position: relative;
  left: 50%;
  > li{
    position: relative;
    left:-50%;
    float: left;
    margin:0 30px;
  }
  a{
    color: $Cwhite;
  }
}