/**
 * 表单美化模块样式
 */
//变量
@import "modules/_variables";
//代码片段
@import "modules/_mixin";

/*=============下拉框美化=============*/
.cssSelect {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  *{
    display: block;
  }
  a{
    color: #666;
    outline-width: 0px;
    text-decoration: none;
  }
  .selectBox{
    cursor: pointer;
    border:solid 1px #e5e5e5;
    border-radius: 6px;
    float: left;
    width: 170px;
    height: 30px;
    background-color: #fafafa;
    -webkit-box-shadow: inset 0 2px 3px #f1f1f1;
    -moz-box-shadow: inset 0 2px 2px #f1f1f1;
    box-shadow: inset 0 2px 2px #f1f1f1;
  }
  .selectRt{
    width: 28px;
    height: 100%;
    cursor: pointer;
    background:url(#{$imgPath}/form/icon-select.png)  center center no-repeat;
    float: right;
  }
  .selectLt{
    overflow: hidden;
    height: 100%; width: 130px;
    line-height: 30px;
    padding: 0 0 0 10px;
    background: none transparent scroll repeat 0% 0%;
    color: #999999;
    cursor: pointer;
    float: left;
    text-align: left;
    /*text-overflow: ellipsis;*/
  }
  .sNormal{ background-position: 0px 0px}
  //.sNormal .selectRt { background-position: 100% 0px}
  .sHover{ background-position: 0px -50px}
  //.sHover .selectRt{ background: url('../images/skin_icons.png')  -49px -160px no-repeat #e6e6e6; }
  .sPressDown{
    background-color: #ffffff;
    border-radius: 6px 6px 0 0;
    position: relative;
    z-index: 101;
    border-bottom-color:#ffffff;
  }
  //.sPressDown .selectRt{ background: url('../images/skin_icons.png')  -49px -160px no-repeat #e6e6e6; }
  .optionsBox{
    min-width: 170px;
    max-height:250px;
    position: absolute;
    border: 1px solid #e5e5e5;
    /*border-top:none;*/
    border-radius: 0 0 6px 6px;
    margin:-2px 0 0 0px;
    background: #fff;
    z-index: 100;
  }
  .optionsInnerBox { }
  .optionBox { cursor: pointer; padding: 2px 18px 2px 18px; margin: 0px; height:25px; line-height: 25px; }
  .optionBox span { cursor: pointer; font-size:13px}
  .oNormal { }
  .oHover{ background: #fafafa; color: #e66b01; text-decoration: underline;}
  .selected{ background: #e66b01; color: #fff;  text-decoration: none;}
}

/*=============单选框、复选框美化=============*/
/* wrapper divs */
.custom-checkbox,
.custom-radio {
  position: relative;
  float: left;
  //input, label positioning
  input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: 0;
    display: none;
  }
  label {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 20px 0 25px;
    cursor: pointer;
  }
  label.focus{
    outline: none;
  }
}

/* ==复选框== */
.custom-checkbox{
  ///* ==默认状态效果== */
  label{
    background: url(#{$imgPath}/form/bg-checkbox.png) 0 2px no-repeat;
  }
  ///*==鼠标悬停和得到焦点状态==*/
  label.hover,
  label.focus{
    background-position: 0 -98px;
  }
  ///*==选中状态==*/
 label.checked{
    background-position: 0 -48px;
  }
  label.checked.hover,
  label.checked.focus {
    background-position: 0 -147px;
  }
}
/* ==单选按钮== */
.custom-radio{
  ///* ==默认状态效果== */
  label{
    background: url(#{$imgPath}/form/bg-radio.png) 0 4px no-repeat;
  }
  ///*==鼠标悬停和得到焦点状态==*/
  label.hover,
  label.focus {
    background-position: 0px -98px;
  }
  ///*==选中状态==*/
  label.checked {
    background-position: 0 -46px;
  }
  ///*==选中状态鼠标移入==*/
  label.checked.hover {
    background-position: 0 -149px;
  }
}
