//对浏览器默认样式的重置
*{
  margin:0;
  padding:0;
  outline: 0;
}
ul,ol{
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  vertical-align: top;
}
hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}
button
,input[type=submit]
,input[type=reset]
,input[type=button]{
  cursor: pointer;
}
/*伪类*/
:focus {
  outline: 0;
}
//blockquote:before, blockquote:after, q:before, q:after {
//  //content: "";
//}
//blockquote, q {
//  quotes: '“' '”';
//}
a, a:link, a:visited, a:hover, a:active{
  outline: none;
  text-decoration:none;
}
