//sass中可用mixin定义一些代码片段，且可传参数，方便日后根据需求调用。从此处理css3的前缀兼容轻松便捷。
//body的字体大小设置：$select -> 样式选择器
@mixin body-size($select){
  #{$select}{
    font-size:$baseFontSize;
  }
  @media screen and (min-width: 1366px){
    #{$select}{
      font-size:$f14;
    }
  }
  @media screen and (min-width: 1680px){
    #{$select}{
      font-size:$f15;
    }
  }
  @media screen and (min-width: 1920px){
    #{$select}{
      font-size:$f16;
    }
  }
}
//整体框架屏幕自适应：$select -> 样式选择器
@mixin container-width($select){
  #{$select}{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
  }
  @media screen and (min-width: 1366px){
    #{$select}{
      width:1200px;
      margin-left:auto;
      margin-right:auto;
    }
  }
  @media screen and (min-width: 1680px){
    #{$select}{
      width:1500px;
      margin-left:auto;
      margin-right:auto;
    }
  }
  @media screen and (min-width: 1920px){
    #{$select}{
      width:1800px;
      margin-left:auto;
      margin-right:auto;
    }
  }
}

//盒模型
//margin(margin的方向，margin的大小)
@mixin box-margin-padding($boxType,$size){
  @if $boxType == margin {
    .m#{$size}{
      margin:$size;
    }
    .mt#{$size}{
      margin-top:$size;
    }
    .mr#{$size}{
      margin-right:$size;
    }
    .mb#{$size}{
      margin-left:$size;
    }
    .ml#{$size}{
      margin-top:$size;
    }
  }@else if $boxType == padding {
    .p#{$size}{
      padding:$size;
    }
    .pt#{$size}{
      padding-top:$size;
    }
    .pr#{$size}{
      padding-right:$size;
    }
    .pb#{$size}{
      padding-left:$size;
    }
    .pl#{$size}{
      padding-top:$size;
    }
  }
}
//border